body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("secretsanta.png");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.title {
    text-align: start;
    color: #000000;
    font-style: italic;
    font-family: fantasy;
    text-align: left;
}


.main-text {
    text-align: center;
    font-family: garamond;
    font-size: x-small;
    position: absolute;
    padding: 3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    background-color: white;
    
  }

  .buttonpress {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  
  
 background-color: rgb(194, 194, 194); /* Green */
  
  }
  .buttonpress:hover{
    background-color: rgb(141, 141, 141);
  }





/*
h1{ color: #ffffff;
    font-family: fantasy;
    text-align: left;
}




h2{
    background-color: white;
    color: #000000;
}

button {
    background-color: #ffffff; 
    border: none;
    color: #b30000;
    padding: 0%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font: ;
  }
*/
